@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@media (max-width: 800px) {
  .nav:not(:last-child) {
    display: none;
  }
}

* {
  text-decoration: none;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: black;
  list-style: none;
  letter-spacing: 1px;
  word-spacing: 1px;
}

section {
  display: block;
}
/* Nav section */
nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: white;
  font-size: 16px;
}
.nav__links {
  display: flex;
  padding: 16px 8px;
  cursor: pointer;
  align-items: center;
}
.nav__link {
  margin: 16px 24px;
  display: flex;
}
.nav__link--primary {
  color: white;
  background-color: rgb(100, 21, 255);
  border: none;
  border-radius: 50px;
  font-size: 24px;
  flex-wrap: wrap;
  margin: 0 12px;
  padding: 8px 20px;
  font-weight: 700;
}
.logo {
  width: 4vh;
  margin-right: 8px;
}
.logo__img--wrapper {
  align-items: center;
  font-weight: 1000;
  font-size: 1.5em;
}

/* Header */

.color {
  color: rgb(100, 21, 255);
}
.home {
  padding: 36px 24px 64px 24px;
}
.home__description1 {
  flex-direction: row;
  flex-wrap: wrap;
  width: 40%;
}
h1 {
  align-items: center;
  font-size: 24px;
}
.home__para {
  font-size: 16px;
  font-weight: 600;
}

.home__description2 {
  width: 60%;
}
.home__description--img {
  width: auto;
  max-width: 1200px;
  height: 510px;
  margin: 0 auto;
}

@media (min-width: 900px) {
  input {
    padding: 1.25rem 12rem 1.25rem 0;
  }
}
input {
  font-size: 16px;
  border-radius: 9999px;
  border-width: 2px;
  width: 100%;
  font-weight: 500;
}
.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Customers */
.customers {
  padding-top: 32px;
  align-items: center;
  flex-wrap: wrap;
}
.customers__para,
.customers__logo {
  height: 30px;
  opacity: 0.5;
}

/* Features */

.container {
  padding: 80px 0;
}

.features__p,
.features__h1,
.features__h3 {
  text-align: center;
}
.features__h3,
.features__p {
  font-size: 16px;
}

.features__h1 {
  font-size: 50px;
  letter-spacing: 0.5px;
}
.features__p {
  padding: 0 16px;
}

/* Service */
.services {
  flex-wrap: wrap;
  padding: 24px;
}

.nav,
.service,
.work,
.value,
.customers,
.customers__para,
.customers__logo,
.service__main,
.services,
.service__description,
.service__img,
.logo,
.logo__img--wrapper,
.home,
.home__description1,
.home__description2,
.work__description1,
.work__description2,
.step__description2,
.step__description1,
.value__description1,
.value__description2,
.values__affordable--para,
#links__section,
#footer {
  display: flex;
}
.service {
  width: calc(100% / 3);
  padding: 24px;
}
.service__main {
  flex-direction: column;
  padding-bottom: 48px;
  align-items: center;
}

.service__img {
  align-items: flex-start;
  position: relative;
  border-radius: 50px;
}
.service__img--container {
  border-width: 6px;
  text-align: center;
  padding: 1.25rem;
}
.service__h1,
.features__h1 {
  padding-bottom: 8px;
}

/* Works */
.works {
  padding: 80px 24px;
}

.work__description1 {
  width: 50%;
  flex-direction: column;
}
.work__para {
  font-size: 20px;
}

.work__description2 {
  width: 50%;
  flex-direction: column;
  border: 1px solid black;
}
.work__description--img {
  width: 100%;
  height: 100%;
}

.work__link {
  display: flex;
}
.work__link--primary {
  color: white;
  background-color: rgb(100, 21, 255);
  border: none;
  border-radius: 50px;
  font-size: 24px;
  flex-wrap: wrap;
  margin: 0 12px;
  padding: 8px 20px;
  width: 200px;
}

/* Steps Section */
/* Steps section Left side */
.Steps {
  padding: 80px 24px;
}
.step {
  display: flex;
  height: 500px;
}
.step__description1 {
  width: 50%;
}

.step__img {
  width: 100%;
  height: 64%;
  display: flex;
}
.step__img--wrapper {
  height: 500px;
  display: flex;
  align-items: center;
}

/* Steps section right side */
.step__description2 {
  flex-direction: column;
  width: 50%;
  padding-left: 16px;
}

.step__h2 {
  font-size: 16px;
  padding: 16px;
}
.step__h1 {
  padding: 16px;
  font-weight: 1000;
  font-size: 34px;
}
.step__download {
  display: flex;
  padding: 0 8px;
  color: #80808070;
  font-weight: 900;
  font-size: 36px;
}

.step__downloads--register {
  display: flex;
  padding: 16px 8px 16px 0;
}
.step__para {
  display: flex;
  flex-direction: column;
  width: 596px;
}
.step__strong {
  padding-bottom: 8px;
}

/* Values Section */
.values {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 24px;
}

/* Values descirption1 Section */
.value__description1 {
  width: 50%;
  flex-direction: column;
}
.value__color,
.value__para,
.value__affordable,
.values__affordable--para {
  padding: 8px 0;
}
.value__color {
  font-size: 16px;
}
.value__para {
  margin-top: 16px;
}
.values__affordable--para {
  flex-direction: column;
}
.values__p {
  display: flex;
  width: 16px;
  border-radius: 8px;
  background-color: rgba(255, 0, 0, 0.466);
}

/* Values descirption2 Section */
.value__description2 {
  flex-direction: column;
  width: 50%;
}
.value__description--img {
  width: 100%;
  height: 100%;
}

/* pricing section */

#pricing {
  padding: 80px 24px;
}

.pricing__h1,
.pricing__h3 {
  display: flex;
  justify-content: center;
}
.pricing__p {
  padding: 16px 80px;
}

/* Plans Section */
.plans {
  display: flex;
  flex-wrap: wrap;
}
.plan {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  padding: 80px 4px;
  align-items: center;
  border: solid pink 1px;
  text-align: center;
}
.plan__personal {
  width: auto;
  margin: 80px;
}

.plan__h1 {
  font-size: 32px;
  width: auto;
}

.plan__h2 {
  font-size: 12px;
}

/* links Section */
#links__section {
  padding: 80px 8px;
  background-color: rgba(21, 0, 128, 0.513);
}
.links {
  display: flex;
}
.link {
  display: flex;
  flex-direction: column;
  width: calc(100% / 5);
  align-items: center;
}

.link__ul {
  padding-top: 24px;
}

.link__li {
  padding: 8px;
}

/* Footer */

#footer {
  padding: 80px 8px;
  background: rgba(21, 0, 128, 0.513);
}

.footer__logo {
  width: 4vh;
}

.footer__trademark {
  font-weight: 0;
  display: flex;
  padding-left: 12vh;
}

.footer__img {
  font-size: medium;
}
