@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  text-decoration: none;
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: black;
  list-style: none;
}

section {
  display: block;
}
/* Nav section */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 24px;
  background-color: white;
  margin: 0 auto;
  font-size: 16px;
}
.nav__links {
  display: flex;
  padding: 16px 8px;
  cursor: pointer;
  align-items: center;
}
.nav__link {
  margin: 16px 24px;
  display: flex;
}
.nav__link--primary {
  color: white;
}
.logo {
  display: flex;
  width: 16%;
  height: auto;
}
.logo__img--wrapper {
  display: flex;
  align-items: center;
  font-weight: 1000;
  font-size: 1.5em;
}
.btn {
  background-color: rgb(100, 21, 255);
  color: white;
  border: none;
  border-radius: 32px;
  font-size: 24px;
  flex-wrap: wrap;
}
.btn:hover {
  color: white;
}

/* Header */

.color {
  color: rgb(100, 21, 255);
}
.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.home__description1 {
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  width: calc(70% / 2);
  height: 400px;
}
h1 {
  display: flex;
  align-items: center;
}
.home__para {
  display: flex;
  font-size: 16px;
  font-weight: 600;
}

.home__description2 {
  display: flex;
  background-color: blue;
  display: flex;
  width: calc(70% / 2);
}
.home__description--img {
  display: flex;
  width: auto;
  max-width: 350px;
  height: 350px;
}

form {
  display: flex;
}
input {
  margin: 8px 24px;
  font-size: 16px;
  padding: 6px 12px;
  border: none;
}
.get__started--btn {
  display: flex;
  position: relative;
  align-items: center;
}
